@tailwind base;
@tailwind components;
@tailwind utilities;

/*.tile {*/
/*  width: 200px;*/
/*  height: 200px;*/
/*}*/

.tile div {
  width: 20px;
  height: 20px;
  border: 1px solid darkolivegreen;
}

.snake {
  background-color: dodgerblue;
}

.apple {
  background-color: yellowgreen;
}

.pineapple {
  background-color: gold;
}
