@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: scroll;
  overflow-x: hidden;
}

.tile {
  border: 1px solid darkolivegreen;
}

.snake {
  background-color: dodgerblue;
}

.apple {
  background-color: yellowgreen;
}

.pineapple {
  background-color: gold;
}
